:root {
  line-height: 1.5;
  font-size: 16px;
  font-weight: 400;

  color-scheme: dark;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--url-text-color);
  text-decoration: underline;
}

body {
  font-family:
    'Helvetica Neue', Arial, 'Yu Gothic', YuGothic, 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.7em;
  line-height: 1;
  margin: 0.5em 0;
}

button {
  border-radius: 10px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background: var(--primary-color);
  color: var(--main-text-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
@media (hover: hover) and (pointer: fine) {
  button:hover {
    border-color: var(--button-hover-color);
  }
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

section {
  margin: 1em;
}
