.normalH2 {
  margin-left: 0.5em;
  border-left: 5px solid var(--primary-color);
  padding-left: 0.5em;
}

.normalH3 {
  margin: 0.5em 0 0 0.5em;
}

.imgBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.imgBox img {
  width: 100%;
  max-width: 500px;
}

@media (max-width: 999px) {
  .imgBox {
    flex-direction: column;
  }
}
