@import '../../assets/css/color-settings.css';
.first-view {
  width: 100%;
  min-height: 100vh;
  background: url('../imgs/top-image.webp') center / cover;
}

.first-view-content {
  width: 100%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3rem;
}

h1.first-view-h1 {
  width: 100%;
  color: var(--heading-text-color);
  font-size: 4rem;
  margin: 0;
}

/* スクロールダウンの位置 */
.scroll {
  position: absolute;
  right: 1em;
  bottom: calc(1em + 65px);
  writing-mode: vertical-rl;
}
/* 線のアニメーション部分 */
.scroll::before {
  animation: scroll 2s infinite;
  background-color: var(--heading-text-color);
  bottom: -65px;
  content: '';
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 1px;
}
/* 線のアニメーション */
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

.normal-section ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 1em;
}

.button-link {
  flex: 1;
  min-width: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem;
  padding: 1.5rem;

  background-color: var(--primary-color);
  border-radius: 40px;
  border: 1px solid var(--translucent-w-bg-color);
  box-shadow: 0 4px 8px var(--translucent-b-bg-color);

  color: var(--main-text-color);
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  transition: background-color 0.3s ease;
}

@media (hover: hover) and (pointer: fine) {
  .button-link:hover {
    background-color: var(--button-hover-color);
  }
}

.button-link svg {
  width: 3rem;
  height: 3rem;
}

.button-link-section {
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.catch-copy {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 0.5em;
  color: var(--heading-text-color);
}

.catch-copy span {
  color: var(--accent-color);
}

/* App ページでは global の top padding を無効化するためのクラス */
body.no-top-padding {
  padding-top: 0 !important;
}