.first-view {
  width: 100%;
  min-height: 100vh;
  background: url("../imgs/top-image.webp")
    center / cover;
}

.first-view-content {
  width: 100%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  width: 100%;
  color: var(--heading-text-color);
  font-size: 4rem;
}

/* スクロールダウンの位置 */
.scroll {
  position: absolute;
  right: 1em;
  bottom: calc(1em + 65px);
  writing-mode: vertical-rl;
}
/* 線のアニメーション部分 */
.scroll::before {
  animation: scroll 2s infinite;
  background-color: var(--heading-text-color);
  bottom: -65px;
  content: "";
  height: 50px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 1px;
}
/* 線のアニメーション */
@keyframes scroll {
  0% {
    transform: scale(1, 0);
    transform-origin: 0 0;
  }
  50% {
    transform: scale(1, 1);
    transform-origin: 0 0;
  }
  51% {
    transform: scale(1, 1);
    transform-origin: 0 100%;
  }
  100% {
    transform: scale(1, 0);
    transform-origin: 0 100%;
  }
}

.normal-section ul {
  list-style: none;
  padding: 0;
  margin: 0 0 0 1em;
}