.first-view {
  width: 100%;
  min-height: 100vh;
  background: url("../imgs/top-image.jpeg")
    center / cover;
}

.first-view-content {
  width: 100%;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.5rem;
}

h1 {
  width: 100%;
  color: var(--heading-text-color);
  font-size: 4rem;
}