@import 'color-settings.css';

.drawer-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition: background 0.28s ease, visibility 0.28s;
  z-index: 1000;
}

.drawer-overlay.open {
  background: var(--overlay-bg-color);
  visibility: visible;
}

.drawer-panel {
  position: fixed;
  top: 0;
  right: -100%;
  width: 80%;
  height: 100%;
  z-index: 1001;

  background-color: var(--drawer-bg-color);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 1px solid var(--translucent-w-bg-color);
  box-shadow: 0 4px 8px var(--translucent-b-bg-color);

  transition: right 0.28s ease;

  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.drawer-panel.open {
  right: 0;
}

.drawer-close {
  position: absolute;
  right: 8px;
  top: 8px;
  background: none;
  border: none;
  font-size: 1.4rem;
  cursor: pointer;
}

.drawer-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drawer-content li {
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--main-text-color);
}
