footer {
  background-color: var(--footer-background-color);
  color: var(--footer-text-color);
  text-align: center;
  padding: 1rem 0;
}

footer ul {
  list-style: none;
  padding: 0 1rem;
  margin: 0 0 0 0;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 510px) {
  footer ul {
    flex-direction: column;
    align-items: center;
  }
}

footer ul li {
  margin: 0.2rem 1rem;
}

footer ul li a {
  color: var(--footer-text-color);
}

footer p {
  margin: 0.5rem 0 0 0;
  font-size: 0.9rem;
}