@import "color-settings.css";

:root {
  font-family: 'Helvetica Neue', Arial, 'Yu Gothic', YuGothic, 'Hiragino Sans',
    'Hiragino Kaku Gothic ProN', 'Meiryo', sans-serif;

  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: var(--url-text-color);
  text-decoration: underline;
}

body {
  margin: 0;
}

h1 {
  font-size: 2.7em;
  line-height: 1;
  margin: 0.5em 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: var(--primary-color);
  cursor: pointer;
  transition: border-color 0.25s;
}
@media (hover: hover) and (pointer: fine) {
  button:hover {
    border-color: var(--button-hover-color);
  }
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  padding: 0 1em;
}

.normal-section {
  margin: 1em 0;
  padding: 1em;
  background-color: var(--normal-section-bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px var(--translucent-b-bg-color);
}

.normal-section h2 {
  margin: 0 0 0 1em;
}

.normal-section p {
  margin: 1em 0 0.5em 0;
}