@import '../../assets/css/color-settings.css';

footer {
  background-color: var(--footer-bg-color);
  color: var(--footer-text-color);
  text-align: center;
  padding: 1rem 0;
}

footer ul {
  list-style: none;
  padding: 0 1rem;
  margin: 0 0 0 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

footer ul li {
  margin: 0.2rem 1rem;
}

footer ul li a {
  color: var(--footer-text-color);
}

footer p {
  margin: 0.5rem 0 0 0;
  font-size: 0.9rem;
}