@import '../../assets/css/color-settings.css';

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  font-size: 1.2rem;
  width: fit-content;
  padding: 0.5rem 1rem;

  background-color: var(--translucent-b-bg-color);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1px solid var(--translucent-w-bg-color);
  box-shadow: 0 4px 8px var(--translucent-b-bg-color);

  color: var(--main-text-color);

  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 900;
}

header img {
  width: 2.3rem;
}

.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--translucent-b-bg-color);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-radius: 20px;
  border: 1px solid var(--translucent-w-bg-color);
  box-shadow: 0 4px 8px var(--translucent-b-bg-color);

  position: fixed;
  top: 10px;
  right: 10px;
  cursor: pointer;
  padding: 1.05rem 1rem;
  z-index: 990;
}
