@import '../../assets/css/color-settings.css';

.alert {
  background-color: var(--warn-bg-color);
  color: var(--warn-text-color);
  border: 2px solid var(--warn-border-color);
  border-radius: 5px;
  padding: 1em;
  margin: 20px 1em;
}

.alert h2 {
  color: var(--warn-text-color);
  margin: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.alert p {
  margin: 1em 0 0 0 ;
}