.buttonLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem auto;
  padding: 1rem;

  background: var(--accent-color);
  border-radius: 12px;
  border: 1px solid var(--translucent-w-bg-color);
  box-shadow: 0 4px 8px var(--translucent-b-bg-color);

  color: var(--main-text-color);
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;

  transition: background 0.2s;
}

@media (hover: hover) and (pointer: fine) {
  .buttonLink:hover {
    background: var(--accent-hover-color);
  }
}

.logoutBtn {
  display: block;
  margin: 0.5rem auto;
}
