.buttonLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0.5rem auto;
  padding: 1rem;

  background: var(--accent-color);
  border-radius: 12px;
  border: 1px solid var(--translucent-w-bg-color);
  box-shadow: 0 4px 8px var(--translucent-b-bg-color);

  color: var(--main-text-color);
  text-decoration: none;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;

  transition: background 0.2s;
}

@media (hover: hover) and (pointer: fine) {
  .buttonLink:hover {
    background: var(--accent-hover-color);
  }
}

.buttonLinkDisabled {
  pointer-events: none;
  opacity: 0.6;
}

.issueOfflineNote {
  margin: 0.5rem 0 0;
  text-align: center;
  font-size: 0.9rem;
}

.logoutBtn {
  display: block;
  margin: 0.5rem auto;
}

.ticketSummary {
  display: flex;
  gap: 2rem;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
}

.ticketSummaryItem {
  margin: 0 !important;
}

.ticketSummaryNumber {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 !important;
}

.ticketSummaryLabel {
  margin: 0 !important;
  font-size: 0.9rem;
}
