.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: calc(100% - 2em);
  max-width: 400px;
  padding: 1em;
}

.loginContainer h2 {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
}

.loginContainer h3 {
  width: 100%;
  margin: 0;
  margin-top: 20px;
}

.loginForm {
  width: 100%;
}

.loginButton {
  margin: 5px auto;
  width: 100%;
}

.loginInput {
  width: calc(100% - 20px);
  height: 40px;
  margin: 5px auto;
  padding: 0 10px;
  border: 1px solid var(--login-input-border);
  border-radius: 5px;
  font-size: 14px;
  font-family: sans-serif;
  background-color: var(--url-bg-color);
  color: var(--login-input-text);
}

.gsiMaterialButton {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--login-btn-bg);
  background-image: none;
  border: 1px solid var(--login-btn-border);
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: var(--login-input-text);
  cursor: pointer;
  font-family: 'Roboto', arial, sans-serif;
  font-size: 14px;
  height: 40px;
  letter-spacing: 0.25px;
  outline: none;
  overflow: hidden;
  padding: 0 12px;
  position: relative;
  text-align: center;
  -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
  transition: background-color .218s, border-color .218s, box-shadow .218s;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  max-width: 400px;
  min-width: min-content;
  border-color: var(--login-btn-border);
}

.gsiMaterialButton .gsiMaterialButtonIcon {
  height: 20px;
  margin-right: 10px;
  min-width: 20px;
  width: 20px;
}

.gsiMaterialButton .gsiMaterialButtonContentWrapper {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

.gsiMaterialButton .gsiMaterialButtonContents {
  -webkit-flex-grow: 1;
  flex-grow: 1;
  font-family: 'Roboto', arial, sans-serif;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.gsiMaterialButton .gsiMaterialButtonState {
  -webkit-transition: opacity .218s;
  transition: opacity .218s;
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.gsiMaterialButton:disabled {
  cursor: default;
  background-color: var(--login-btn-disabled-bg);
  border-color: var(--login-btn-disabled-border);
}

.gsiMaterialButton:disabled .gsiMaterialButtonState {
  background-color: var(--login-btn-disabled-state);
}

.gsiMaterialButton:disabled .gsiMaterialButtonContents {
  opacity: 38%;
}

.gsiMaterialButton:disabled .gsiMaterialButtonIcon {
  opacity: 38%;
}

.gsiMaterialButton:not(:disabled):active .gsiMaterialButtonState,
.gsiMaterialButton:not(:disabled):focus .gsiMaterialButtonState {
  background-color: var(--white);
  opacity: 12%;
}

.gsiMaterialButton:not(:disabled):hover {
  -webkit-box-shadow:
    0 1px 2px 0 var(--login-shadow-dark),
    0 1px 3px 1px var(--login-shadow-soft);
  box-shadow:
    0 1px 2px 0 var(--login-shadow-dark),
    0 1px 3px 1px var(--login-shadow-soft);
}

.gsiMaterialButton:not(:disabled):hover .gsiMaterialButtonState {
  background-color: var(--white);
  opacity: 8%;
}

/* LINEボタンのスタイル */
.lineButton {
  background-color: var(--line-button-bg);
  border: 1px solid var(--line-button-bg);
  color: var(--white);
  padding: 0 0.5em;
  border-radius: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: opacity 0.3s;
}

@media (hover: hover) and (pointer: fine) {
  .lineButton:hover {
    opacity: 0.9;
    border-color: var(--line-button-bg);
  }
}

.lineButton img {
  width: 2em;
  height: auto;
}

.lineButton span {
  flex: 1;
  padding: 0.5em 0;
}

.lineButton:disabled {
  opacity: 0.1;
}
